<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un souhaite modifier votre mot de passe. Modifez le mot de passe grâce à ce lien.</p>

<p><%= link_to 'Changer mon mot de passe, edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si il ne s'agit pas de vous, ignorez cet email.</p>
<p>Votre mot de passe ne changera si vous ne clickez pas sur ce lien pour en créer un nouveau.</p>
